@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Optional global tweaks */
:root {
  color-scheme: light dark;
}

.prose pre {
  overflow: auto;
}

.shiki {
  padding: 1em;
}

.font-barlow-800i {
  font-family: var(--font-barlow), ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  font-weight: 800;
  /* nudge variable axis selection */
  font-variation-settings: "wght" 800, "ital" 1;
  /* prevent Safari from faking styles */
  font-synthesis-weight: none;
  font-synthesis-style: none;
}
